@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import "bootstrap.css";

body {
    background: #f6f6f6;

    .tooltip.show {
        opacity: 1;
    }

    .tooltip-inner {
        padding: 0.25rem 0.5rem;
        color: #000;
        opacity: 1;
        text-align: left;
        background-color: #fff;
        -webkit-box-shadow: 0px 0 22px 0px rgba(50, 50, 50, 0.15);
        -moz-box-shadow:    0px 0 22px 0px rgba(50, 50, 50, 0.15);
        box-shadow:         0px 0 22px 0px rgba(50, 50, 50, 0.15);
    }

    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
        border-top-color: #fff;
    }

    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
        border-bottom-color: #fff;
    }
}

.pagination {
    .page-item {
        .page-link {
            border: 2px solid #aab2bd;
            width: 35px;
            height: 35px;
            font-size: 12px;
            padding: 0;
            text-align: center;
            line-height: 31px;
            margin: 0 3px;
            border-radius: 2px;
            color: #aab2bd;

            &:focus {
                box-shadow: none;
            }
        }

        &.show-more {
            .page-link {
                border: none;
                background: none;
                line-height: 48px;
            }
        }
    
        &.active {
            .page-link {
                background: #f0f1f3;
                border: 2px solid #aab2bd;
                color: #aab2bd;
            }
        }

        &:first-child,
        &:last-child {
            .page-link {
                border: none;
                background: none;
            }
        }


    }
}




.positive {
    color: #48cfad;
}

.negative {
    color: #e97859;
}

.dropdown-menu {
    cursor: pointer;
}

header {
    background: #002032;
    border-bottom: 2px solid #29abe2;

    .row {
        min-height: 74px;
    }

    .nav {
        a {
            color: #dee2ee;

            &:hover {
                color: #fff;
            }

            .icon {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                vertical-align: middle;
            
                &.info-icon {
                    background-image: url('../img/info-icon.png');
                    position: relative;
            
                    &.active {
                        &:before {
                            content: "";
                            width: 16px;
                            height: 16px;
                            background: url('../img/info-active.png') no-repeat 0 0;
                            position: absolute;
                            top: -5px;
                            right: -5px;;
                        }
                    }
                }
            }
        }

        .btn-group {
            margin-top: 1px;

            .btn.dropdown-toggle {
                &:after {
                    display: none;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .dropdown-menu {
                background: #001f30;
                border-radius: 0;
                border: none;
                top: 18px !important;

                a {
                    font-weight: 300;

                    &:hover {
                        background: #29abe2;
                        color: #fff;
                    }
                }
            }
            
        }
    }
}

.row {
    &.social-row {
        .box {
            .nav.properties {
                .nav-link {
                    padding-bottom: 0;

                    &.active {
                        border: none;

                        h6 {
                            span {
                                border-bottom: 2px solid #29abe2;
                            }
                        }
                    }

                    h6 {
                        span {
                            border-bottom: 2px solid #fff;
                            display: inline-block;
                            padding-bottom: 3px;
                        }
                    }

                    .numbers {
                        em, span {
                            width: 100%;
                            display: inline-block;
                            font-size: 16px;
                        }

                        span {
                            font-size: 20px;
                            margin: 0px 0 -2px 0;
                        }
                    }

                    h6 {
                        margin-bottom: 0;
                    }
                }
            }

            .tab-content {
                .linear {
                    img {
                        position: relative;
                    }

                    .legend {
                        i {
                            width: 16px !important;
                            height: 16px !important;
                            border-radius: 8px !important;
                        }

                        span {
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }

    &.middle {
        position: relative;
        z-index: 10;
    }

    &.content-row {
        position: relative;
        z-index: 1;
    }

    &.charts-row {
        .box {
            .social_chart {
                padding-top: 0;
                
                img {
                    position: relative;
                }
            }
        }
    }

}

.heading {
    h1 {
        color: #111c42;
        opacity: .1;
        font-size: 6.25rem;
        font-weight: bold;
        padding-left: 12px;
    }

    h2 {
        color: #111c42;
        font-weight: 300;
        margin-top: -60px;
    }
}

.calendar {
    img,
    span {
        vertical-align: middle;
    }

    span {
        color: #26325a;
        font-weight: 300;
    }
}

.scrollbar {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
    padding-right: 15px;

    .force-overflow {
        min-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    
}

.dropdowns {
    color: #626c94;

    .z-index {
        .btn {
            z-index: 5 !important;
        }

        .dropdown-menu {
            z-index: 4;
        }
    }

    .union {
        line-height: 40px;
    }

    .show {
        .btn {
            &.dropdown-toggle {
                &::after {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    margin-top: -2px;
                  }
            }
        }
    }

    .btn {
        color: #13293d;
        border-radius: 0;
        padding-left: 20px;
        font-weight: 300;
        background: #fff;
        z-index: 2 !important;
        -webkit-box-shadow: 0px 12px 20px 0px rgba(91, 108, 148, 0.08);
        -moz-box-shadow:    0px 12px 20px 0px rgba(91, 108, 148, 0.08);
        box-shadow:         0px 12px 20px 0px rgba(91, 108, 148, 0.08);

        &.dropdown-toggle {
            &::after {
                border: solid #54bce8;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                position: absolute;
                right: 24px;
                top: 50%;
                margin-top: -5px;
            }
        }
    }

    .btn-group,
    .dropdown-menu {
        span.circle {
            width: 22px;
            height: 22px;
            border-radius: 11px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;

            &.fb {
                background: #3b5998;
            }

            &.twitter {
                background: #00aced;
            }

            &.tumblr {
                background: #48a9a6;
            }

            &.insta {
                background: #ec008c;
            }

            &.google {
                background: #a7a7a7;
            }

            &.youtube {
                background: #ff0000;
            }
        }
    }

    .dropdown-menu {
        border: none;
        border-radius: 0;
        margin-top: -2px;
        z-index: 1;
        -webkit-box-shadow: 0px 12px 20px 0px rgba(91, 108, 148, 0.08);
        -moz-box-shadow:    0px 12px 20px 0px rgba(91, 108, 148, 0.08);
        box-shadow:         0px 12px 20px 0px rgba(91, 108, 148, 0.08);

        .dropdown-item {
            color: #929bbd;
            font-weight: 300;

            &:hover {
                background: #29abe2;
                color: #fff;
            }
        }

        em {
            font-style: normal;
            cursor: default;
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 300;
            color: #111c42;
            text-align: inherit;
            white-space: nowrap;
        }
    }
}

.box {
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0px 12px 20px 0px rgba(91, 108, 148, 0.08);
    -moz-box-shadow:    0px 12px 20px 0px rgba(91, 108, 148, 0.08);
    box-shadow:         0px 12px 20px 0px rgba(91, 108, 148, 0.08);
    padding-left: 40px;
    padding-right: 40px;

    &.height-auto {
        height: auto;
    }

    &.height-606 {
        height: 606px;
    }

    .head {
        .download {
            width: 40px;
            height: 40px;
            float: right;
            display: inline-block;
            cursor: pointer;
            background: url('../img/download.gif') no-repeat 0 0;

            &:hover {
                background-position: 0 100%;
            }
        }

        h5 {
            padding-right: 50px;
            color: #111c42;
            font-weight: 300;
            line-height: 120%;
        }

        .dropdowns {
            width: 120px;
            margin-right: 22px;
            float: right;

            &.drop-180 {
                width: 180px;
            }
        }
    }

    .content {
        &.bars {
            color: #26325a;
            font-size: 16px;
            font-weight: 300;
            height: 660px;
            overflow: hidden;
            overflow-y: scroll;
            padding-right: 15px;

            &::-webkit-scrollbar {
                width: 3px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 1px;
                background-color: #aab2bd;
            }

            .row {
                > div {
                    align-self: center !important;

                    .progress {
                        height: 4px;
                        background: #e4e6ea;
                        margin: 5px 0;

                        .progress-bar {
                            background: #29abe2;
                        }
                    }
                }
            }
        }
        
        &.media-content {
            height: 1200px;
            overflow: hidden;
            overflow-y: scroll;
            padding-right: 15px;

            &::-webkit-scrollbar {
                width: 3px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 1px;
                background-color: #aab2bd;
            }
            .rounded {
                border-radius: 10px !important;
                width: 100%;
            }

            .image {
                position: relative;
                width: 38%;
                max-width: 180px;

                .social {
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    margin-left: -20px;
                    border-radius: 4px;
                    overflow: hidden;
                }
            }

            h5 {
                font-weight: 500;
                font-size: 1.35rem;

                a {
                    color: #111c42;
                    cursor: pointer;
                }
            }

            .media-body {
                color: #26325a;
                font-size: 15px;
                font-weight: 300;

                .date {
                    font-size: 14px;

                    span, a {
                        vertical-align: middle;
                    }

                    a {
                        margin-left: 15px;
                    }
                }

                .informers {
                    > div {
                        padding-right: 12px;
                        margin-right: 12px;
                        position: relative;

                        img, span {
                            vertical-align: middle;
                        }

                        img {
                            margin-right: 8px;
                        }

                        &:after {
                            width: 1px;
                            height: 15px;
                            background: #dcdfea;
                            content:"";
                            position: absolute;
                            right: 0;
                            top: 50%;
                            margin-top: -7px;
                        }

                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &.tiles {
            max-width: 718px;
            margin: 0 auto;
            height: 570px;
            overflow: hidden;
            overflow-y: scroll;
            padding-right: 5px;
            position: relative;

            a.circle {
                border-radius: 80px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                display: block;
                position: absolute;
                -webkit-box-shadow: 0px 5px 27px 0px rgba(50, 50, 50, 0.2);
                -moz-box-shadow:    0px 5px 27px 0px rgba(50, 50, 50, 0.2);
                box-shadow:         0px 5px 27px 0px rgba(50, 50, 50, 0.2);

                &.circle1 {
                    width: 160px;
                    height: 160px;
                    left: 50%;
                    top: 50%;
                    margin: -80px 0 0 -80px;
                }
                
                &.circle2 {
                    width: 125px;
                    height: 125px;
                    left: 50%;
                    top: 50%;
                    margin: -175px 0 0 -190px;
                }

                &.circle3 {
                    width: 125px;
                    height: 125px;
                    right: 50%;
                    top: 50%;
                    margin: -175px -190px 0 0;
                }

                &.circle4 {
                    width: 125px;
                    height: 125px;
                    right: 50%;
                    bottom: 50%;
                    margin: 0 -190px -175px 0;
                }

                &.circle5 {
                    width: 125px;
                    height: 125px;
                    left: 50%;
                    bottom: 50%;
                    margin: 0 0 -175px -190px;
                }

                &.circle6 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: -36px 0 0 175px;
                }

                &.circle7 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: -36px 175px 0 0;
                }

                &.circle8 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: 76px 0 0 235px;
                }

                &.circle9 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: -130px 0 0 247px;
                }

                &.circle10 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: -235px 0 0 240px;
                }

                &.circle11 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: -260px 0 0 10px;
                }

                &.circle12 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: 180px 0 0 -10px;
                }

                &.circle13 {
                    width: 72px;
                    height: 72px;
                    left: 50%;
                    top: 50%;
                    margin: 210px 0 0 160px;
                }

                &.circle14 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: -280px 110px 0 0;
                }

                &.circle15 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: 200px 55px 0 0;
                }

                &.circle16 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: 175px 190px 0 0;
                }

                &.circle17 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: 78px 250px 0 0;
                }

                &.circle18 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: -115px 260px 0 0;
                }

                &.circle19 {
                    width: 72px;
                    height: 72px;
                    right: 50%;
                    top: 50%;
                    margin: -215px 205px 0 0;
                }
            }

            &::-webkit-scrollbar {
                width: 3px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 1px;
                background-color: #aab2bd;
            }

            .tile-medium {
                height: 172px;
                margin-top: 7px;
                color: #fff;
                text-align: center;
                line-height: 172px;
                font-size: 24px;
                font-weight: 300;
                
                .block {
                    width: 172px;
                    height: 100%;
                    float: left;
                    margin-left: 7px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.tile-1 {
                        background: url('../img/tile1.gif') no-repeat 50% 0%;
                    }

                    &.tile-2 {
                        background: url('../img/tile2.gif') no-repeat 50% 0%;
                    }

                    &.tile-3 {
                        background: url('../img/tile3.gif') no-repeat 50% 0%;
                    }

                    &.tile-4 {
                        background: url('../img/tile4.gif') no-repeat 50% 0%;
                    }

                    .tile-small {
                        width: 82px;
                        height: 82px;
                        margin-left: 7px;
                        float: left;
                        background: red;

                        &:first-child,
                        &:nth-child(3) {
                            margin-left: 0;
                        }

                        &:nth-child(4),
                        &:nth-child(3) {
                            margin-top: 8px;
                        }

                        img {
                            float: left;
                        }
                    }
                }
            }

            a {
                display: inline-block;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }

            .tile4 {
                img {
                    float: left;
                }
            }

            .main {
                width: 100%;
                height: 201px;
                background: url('../img/tile_main.gif') no-repeat 50% 0;
                position: relative;
                margin-top: 7px;

                h3 {
                    text-align: center;
                    color: #fff;
                    font-weight: 300;
                    font-size: 30px;
                    margin-top: 95px;
                }

                h4 {
                    color: #fff;
                    font-weight: 300;
                    font-size: 18px;
                    position: absolute;
                    left: 24px;
                    bottom: 24px;
                    margin: 0;
                }
             }
        }

        &.social_chart {
            position: relative;

            img {
                position: absolute;
                width: 100%;
            }
        }

        &.posts {
            height: auto !important;
            overflow: visible;

            .media {
                -webkit-box-shadow: 0px 0px 20px 7px rgba(91, 108, 148, 0.04);
                -moz-box-shadow:    0px 0px 20px 7px rgba(91, 108, 148, 0.04);
                box-shadow:         0px 0px 20px 7px rgba(91, 108, 148, 0.04);

                .image {
                    width: 30%;
                    max-width: 390px;
                }

                .media-body {
                    h5 {
                        float: none;
                        width: auto;
                        padding-right: 110px;
                    }
                    
                    .link {
                        float: right;
                        font-size: 14px;
                        font-weight: 300;
                        width: 110px;

                        a {
                            color: #26325a;
                            
                            &:hover {
                                text-decoration: none;

                                span {
                                    text-decoration: underline;
                                }
                            }
                        }

                        span, img {
                            vertical-align: middle;
                        }

                        &:hover {
                            text-decoration: none;

                            span {
                                text-decoration: underline;
                            }
                        }

                        span {
                            margin-right: 6px;
                        }


                    }
                }
            }
        }
    }

    .nav {
        &.properties {
            margin: 0 -15px;

            &.nav-tabs {
                border: none;
            }

            .nav-link {
                cursor: pointer;
                border: none;
                padding: 0;
                padding-bottom: 10px;

                h4 {
                    font-size: 1.1rem;
                    color: #111c42;
                }

                h6 {
                    margin-bottom: 16px;
                    font-weight: 300;
                    font-size: 14px;
                    color: #26325a;
                    white-space: nowrap;
                }

                .divider {
                    position: relative;

                    &:after {
                        width: 2px;
                        height: 15px;
                        background: #dcdfea;
                        content:"";
                        position: absolute;
                        left: -15px;
                        bottom: 0;
                        margin-bottom: 8px;
                    }
                }

                .numbers {
                    font-weight: 300;

                    span {
                        color: #111c42;
                        font-size: 22px;
                    }

                    em {
                        font-size: 15px;
                        margin-left: 5px;
                        font-style: normal;
                    }
                }

                &.active {
                    border-bottom: 2px solid #29abe2;
                }
            }
        }
    }

    .tab-content {
        .linear {
            position: relative;

            img {
                width: 100%;
            }
        }
    }

    &.card {
        height: 165px;
        border: none;
        border-radius: 0;
        padding: 0 25px;
        color: #26325a;

        .name {
            height: 40px;
            font-size: 14px;
            font-size: 14px;
            font-weight: 300;
            line-height: 40px;
        }

        h4 {
            font-size: 1.8rem;
            font-weight: 300;
        }

        h5 {
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 0;

        }
    }
}

.height-790 {
    height: 790px;
}

#social_chart {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.charts-row {
    #social_chart {
        height: 350px;
    }
}

#donutchart {
    width: 100%;
    height: 350px;
    overflow: hidden;
} 

.height-790 {
    .linechart {
        width: 100%;
        height: 450px;
        overflow: hidden;
    }
}

.linechart {
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.linear {
    .legend {
        height: 30px;
        color: #283257;
        font-weight: 300;
        font-size: 0;

        i {
            width: 21px;
            height: 21px;
            display: inline-block;
            border-radius: 11px;
            vertical-align: middle;
            margin-right: 9px;
            margin-left: 15px;

            &.blue-icon {
                background: #1a3b63;
            }

            &.light-blue-icon {
                background: #52a9dd;
            }
        }

        span {
            font-size: 14px;
            line-height: 21px;
            vertical-align: middle;
            display: inline-block;
        }
    }
}




@import "responsive.scss";